{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="page-header aboutus_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Online Bike Rental</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="/">Home</a></li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
            <section class="about_us section-padding">
  <div class="container">
    <div class="section-header text-center">


      <h2>About Us</h2>
      <p> Online Bike Rental is a popular name in the motorbike hiring scenario. It has been providing an excellent service of motorcycle hire service since past 7 years. Our hire range consists of the latest models for most of our bikes. We deal in all the popular manufacturers including Yamaha, Honda, Bajaj, Hartford, Royal Enfield and others. <br>

Here at Online Bike Rental, we offer lowest rates, incredible selection of popular bikes and satisfactory service. All ourbikes are insured, highly maintained and checked before and after every ride making sure nothing goes wrong. It is important for us that riders who use our bike hire service feel as comfortable as possible on our bikes and that we offer bikes as close in quality to the bike you ride often. You can choose from a wide variety of popular bikes like pulsar, FZ, VR, Royal Enfield to name a few. You can rent for just a few hours, one day, a week, a long weekend, or extended period. <br>

Our easy and affordable rental programmes are designed to match up your needs and expectations. With us, you’ll receive optimal customer service and rental programmes.

Come explore Kathmandu and the surroundings with us.</p>
    </div>
  </div>
</section>
{% endblock %}