{% extends 'base.html' %}
{% load static %}
{% block content %}

            <!--Page Header-->
<section class="page-header contactus_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>FAQs</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="/">Home</a></li>
        <li>FAQs</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->

            <section class="faq section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2>FAQs</h2>

        <div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Q. How early do I make a booking?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Booking can be made 60 days prior to pickup.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Q. Do we need a booking?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">We recommend you to make a booking in advance. <br>
Please make a booking up to 15:00 2 days before pickup through the website.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Q. How can I change or cancel the booking?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Please call or use booking inquiry form whose URL is included in the confirmation mail to contact pick up location beforehand.
</div>
      </div>
    </div>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Q. Can I cancel the booking just before departure?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Please call the pickup locations. <br>
If you cancel on the date of the pickup, there will be a cancellation fee (100% of rental fee). <br>
If you cancel to pickup due to bad weather, no fee will be charged.
</div>
      </div>
    </div>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Q. What is One-way service?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">One-way service is available to return bikes to another location between Giant Store Imabari and Onomichi.
We recommend you make a booking in advance via internet or phone call.<br>
This service is available only in case you rent a road bike for 1 day or more.<br> <br>

One-way service charge: 3,000 JPY per bike<br> <br>

Please note that we only have a limited number of bikes.<br>
You cannnot return a bike at Giant Store Imabari on every Tuesday due to the regular holiday.
</div>
      </div>
    </div>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Q. I have not got the confirmation mail after the booking via the website.</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">After the booking have made on the website, the confirmation mail will be sent to you automatically.
If you have not got it, please check the following points. <br> <br>

・ The registered e-mail address is wrong.<br>
・ Please check if the confirmation mail is in the bin or the spam folder.<br>
・ Please make sure you can receive mails from "@giant-store.jp".<br>
・ The mail box or server is full. If so, please remove unnecessary data.
</div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</section>

{% endblock %}